.venv
Dockerfile
test.py
*.log
venv/
./bin/run
.cache
.coverage.*
.coveralls.yml
.idea
*.pyc
.nyc_output
coverage
.coverage
coverage.xml
client/dist
.DS_Store
.#*
\#*#
*~
_build
.vscode
.env
user_upload_files/*
node_modules
.tmp
.sass-cache
npm-debug.log

client/cypress/screenshots
client/cypress/videos
supervisord.conf
uwsgi.ini
/ai/test/
/ai/paper/
/ai/backend/util/db/configuration/Brand.yml
/ai/backend/util/db/auto_yzj/日常优化/输出结果/
/ai/backend/util/db/auto_yzj/paper/
/ai/backend/util/db/auto_process/automatic_status_quo_analysis/export/
/ai/backend/util/db/auto_process/automatic_status_quo_analysis/output/
/ai/backend/util/db/auto_process/amazon_api_demo/uploads/
/ai/backend/util/db/auto_yzj/config/
