paper/
.venv
Dockerfile
test.py
*.log
venv/
paper
paper/
./bin/run
.cache
.coverage.*
.coveralls.yml
.idea
*.pyc
.nyc_output
coverage
.coverage
coverage.xml
client/dist
.DS_Store
.#*
\#*#
*~
_build
.vscode
.env
user_upload_files/*
node_modules
.tmp
.sass-cache
npm-debug.log

client/cypress/screenshots
client/cypress/videos
supervisord.conf
uwsgi.ini
/ai/test/
/ai/paper/
