.steps-content {
    height: 300px;
    overflow-y: auto;
  }
.content-container {
    display: flex;
    justify-content: center;
  }
  
  .content-select {
    min-width: 70%;
    margin-top:20px !important;
  }
  
  .template-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
  }
  
  .template-item {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
    border:1px solid transparent;
  }
  .template-item-selected {
    border: 1px solid #1849f6;
  }
  .template-img {
    width: 100%;
  }
  
  .template-checkbox {
    position: absolute;
    bottom: 1px;
    right: 1px;
  }
  .template-checkbox .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #1849f6;
    border-color: #1849f6;
  }
  .template-checkbox .ant-checkbox-checked::after {
    border-color: #1849f6;
  }