.gpt-descriptions-btn{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top: 10px;
}
.my-custom-item .ant-descriptions-item-label {
    width: 100px !important;
    text-align: center;
}