.copyuser {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 55px;
  width: 100%;
  position: absolute;
  bottom: 5px;
}
.copybot {
  display: flex;
  align-items: center;
  padding-left: 55px;
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.copt-item {
  display: flex;
  align-items: center;
  margin: 0 5px;
  cursor: pointer;
}
.copt-item img {
  width: 20px !important;
  height: 20px !important;
}
.copt-item .copy-text {
  font-size: 12px;
  color: #7b7b7b;
  margin-left: 2px;
}
