.log_terminal {
  background-color: transparent;
  width: 100%;
  color: #fff;
  font-size: 12px;
  line-height: 1.3;
  font-family: Menlo,Monaco,Consolas,Courier New,monospace;
  border-radius: 5px;
  overflow: hidden;
  cursor: default;
}
.log_terminal_content_div {
  position: relative;
  overflow: hidden;
  height: auto;
  margin: 8px 0;
  background: transparent;
}
.log_terminal_modal {
  color: #fff !important;
}
.log_terminal_modal .ant-modal-content {
  background: transparent;
}
.log_terminal_modal .ant-modal-body {
  padding: 0;
}
.log_terminal_modal .copy_btn {
  right: 8px;
}
.log_terminal_content {
  background-color: #000;
  border-radius: 13px;
  width: 100%;
  height: 0;
  min-height: 0;
  transition-duration: 360ms;
  overflow-y: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  position: relative;
}
.copy_btn {
  position: absolute;
  right: 28px;
  z-index: 99;
  color: #cecece;
  cursor: pointer;
  font-size: 14px;
}
.compress_btn {
  position: absolute;
  right: 8px;
  z-index: 99;
  color: #cecece;
  cursor: pointer;
  font-size: 14px;
}
.log_terminal_content::-webkit-scrollbar {
  display: none;
}
.log-item {
  padding: 10px;
  animation: log-item 0.3s ease-in-out;
  animation-fill-mode: both;
}
@keyframes log-item {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.log_terminal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  background: #f2f2f2;
  color: #333 !important;
  border-radius: 13px;
}
.log_terminal_header_title {
  font-size: 14px;
  padding: 10px 0;
}
